.bg-fb_icon {
	display: inline-block;
    width: 10px; height: 22px;
    background: url('../images/social-icons.png') -135px -10px;
}
.bg-heart_icon {
	display: inline-block;
    width: 21px; height: 19px;
    background: url('../images/social-icons.png') -57px -10px;
}
.bg-insta_icon {
	display: inline-block;
    width: 21px; height: 20px;
    background: url('../images/social-icons.png') -10px -49px;
}
.bg-pinterest_icon {
	display: inline-block;
    width: 17px; height: 22px;
    background: url('../images/social-icons.png') -98px -10px;
}
.bg-share_icon {
	display: inline-block;
    width: 18px; height: 19px;
    background: url('../images/social-icons.png') -57px -49px;
}
.bg-twitter_icon {
	display: inline-block;
    width: 19px; height: 16px;
    background: url('../images/social-icons.png') -10px -89px;
}
.bg-youtube_icon {
	display: inline-block;
    width: 27px; height: 19px;
    background: url('../images/social-icons.png') -10px -10px;
}
.bg-budget_calculator {
	display: inline-block;
    width: 64px; height: 85px;
    background: url('../images/color-icons.png') -10px -325px;
}
.bg-color_catalogue {
	display: inline-block;
    width: 163px; height: 85px;
    background: url('../images/color-icons.png') -10px -10px;
}
.bg-color_consistency_online {
	display: inline-block;
    width: 94px; height: 95px;
    background: url('../images/color-icons.png') -193px -10px;
}
.bg-color_visualiser {
	display: inline-block;
    width: 106px; height: 85px;
    background: url('../images/color-icons.png') -307px -10px;
}
.bg-decor_solutions {
	display: inline-block;
    width: 106px; height: 95px;
    background: url('../images/color-icons.png') -10px -114px;
}
.bg-home_painting_services {
	display: inline-block;
    width: 85px; height: 95px;
    background: url('../images/color-icons.png') -307px -100px;
}
.bg-paint_selector {
	display: inline-block;
    width: 83px; height: 85px;
    background: url('../images/color-icons.png') -10px -222px;
}