@import "_variables.scss";

body {
	font-family: 'Open Sans', sans-serif;

	a:hover {
		text-decoration: none;
	}

	.fa-phone {
		transform: rotate(100deg);
	}

	h2 {
		font-size: 35px;
		color: $color-black;
		font-family: 'Abhaya Libre', serif;
		font-weight: bold;

		span {
			position: relative;
			display: inline-block;

			&:after,
			&:before {
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background: #fc6c6e;
				left: -50px;
				top: 20px;
			}

			&:after {
				left: auto;
				right: -50px;
			}
		}
	}

	header {
		background: #f2f1f1;

		.navbar .nav-item .nav-link {
			font-size: $font-md;
			color: $color-black;
			font-weight: normal;
			padding: 0 10px;
		}
	}

	/* Carousel */
	.carousel {
		margin-bottom: 4rem;
	}
	.carousel-caption {
		bottom: 3rem;
		z-index: 10;
		p {
			@media (min-width: 40em) {
				margin-bottom: 1.25rem;
				font-size: 1.25rem;
				line-height: 1.4;
			}
		}
	}
	.carousel-item {
		height: 32rem;
		background-color: #777;
		>img {
			position: absolute;
			top: 0;
			left: 0;
			min-width: 100%;
		}
  	}
	/* Navbar */
	.navbar.mega-menu {
		@media #{$ipad-landscape-view} {
			padding-top:0px;
			padding-bottom: 0px;
		}
		.dropdown-menu {
			border: none;
			background-color: $color-white!important;
			div.col-md-8 {
				background: #f1f1f1;
				padding: 30px;
			}
			@media #{$ipad-landscape-view} {
				width: 100%;
				left: 0;
				right: 0;
				top: 59px;
				background-color: $color-white;
				color: #000;
				padding: 0;
			}

			.nav {
				padding: 30px 80px;

				.nav-link {
					font-size: $font-md;
					line-height: 40px;
					color: $color-black;
					padding: 0;
				}
			}

			figure {
				margin: 0;
			}
		}
		.navbar-nav {
			> .nav-item {
				@media #{$ipad-landscape-view} {
					padding: 8px 25px 8px 8px;
					margin: 0 4px;
				}
	
				.dropdown-toggle:after {
					display: none;
				}
	
				> .nav-link {
					font-size: 16px;
					color: $color-black;
					font-weight: bold;
					border-bottom: 2px solid transparent;
					transition: all .3s;
					padding: 10px 0;
	
					&:hover {
						color: #d6330d;
						border-bottom: 2px solid #d6330d;
					}
				}
			}
		}
		
		.dropdown {
			@media #{$ipad-landscape-view} {
				position:static;
			}
			&:hover .dropdown-menu,
			.dropdown-menu:hover {
				@media #{$ipad-landscape-view} {
					display:block!important;
				}
			}
		}
	}
	/* Footer */
	.top-footer {
		background: #434343;
		padding: 40px 0;
		font-size: $font-md;
		a {
			font-size: $font-md;
			line-height: 24px;
		}
	}
	.bottom-footer {
		background: #333;
		font-size: $font-sm;
		ul,
		p {
			margin-top: 1rem;
		}
		li {
			line-height: 20px;
			padding-right: 10px;
			border-right: 1px solid #9f9f9f;
			&:last-child {
				padding-right: 0;
				border-right: 0;
			}
		}
		a {
			font-size: $font-sm;
		}
	}
	.social-icons {
		margin-top: 2rem;
		li {
			padding: 0 10px;
		}
	}
	@media (min-width: 768px) {
		.border-left-md {
			border-left: 1px solid #9f9f9f;
			padding-left: 40px;
		}
	}
}
