@import "_variables.scss";
@import "_sprite-styles.scss";

body {
	font-family: 'Open Sans', sans-serif;

	a:hover {
		text-decoration: none;
	}

	.fa-phone {
		transform: rotate(100deg);
	}

	.container {
		@media (min-width: 1300px) {
			max-width: 1300px;
		}
		@media (max-width: 992px) {
			max-width: 100%;
		}
	}

	h2 {
		font-size: 35px;
		color: $color-black;
		font-family: 'Abhaya Libre', serif;
		font-weight: bold;
		margin-bottom: 30px;

		@media (max-width: 767px) {
			font-size: 24px;
		}

		span {
			position: relative;
			display: inline-block;

			@media (min-width: 768px) {

				&:after,
				&:before {
					content: '';
					position: absolute;
					width: 40px;
					height: 2px;
					background: #fc6c6e;
					left: -50px;
					top: 20px;
				}

				&:after {
					left: auto;
					right: -50px;
				}
			}
		}
	}

	h3 {
		font-size: 22px;
		color: $color-black;
		font-weight: bold;

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	h4 {
		font-size: 26px;
		color: #444;
		font-family: "Abhaya Libre";
		font-weight: bold;

		@media (min-width: 769px) {
			margin-bottom: 40px;
		}
	}

	p {
		font-size: 16px;

		@media (max-width: 768px) {
			font-size: 14px;
		}
	}

	.image-with-contents {
		span {
			margin-bottom: 35px;
		}
	}

	figure {
		position: relative;
		margin-bottom: 30px;
	}

	.image-highlighter {
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
		width: 90%;
		margin: 0 auto;
		background: #fff;
		padding: 20px 10px 0;
		text-align: center;
		box-shadow: 0px -2px 2px rgba(0,0,0,.2);

		@media (max-width: 768px) {
			font-size: 18px;
		}

		h5 {
			display: inline-block;
			font-size: 26px;
			color: #313131;
			font-family: "Abhaya Libre";
			font-weight: bold;
		}
	}

	header {
		background: #f2f1f1;
		position: sticky;
		top: 0;
		z-index: 9999;

		.navbar .nav-item .nav-link {
			font-size: $font-md;
			color: $color-black;
			font-weight: normal;
			padding: 0 10px;

			@media (max-width: 880px) {
				padding: 5px;
				font-size: 12px;
			}
		}

		.header-menu {
			@media (max-width: 767px) {
				padding: 0;

				.navbar-collapse {
					position: absolute;
					top: 50px;
					left: 1%;
					padding-left: 15px;
					padding-right: 15px;
					padding-bottom: 15px;
					width: 100%;
					transition: all 0.3s ease-in;
					z-index: 999;
					background: #fff;
				}
				.navbar-collapse.collapsing {
					height: auto;
					transition: all 0.2s ease;
					left: 100%;
				}
				.navbar-collapse.show {
					left: 0;
				}
			}
		}

		.flag-phone-container {
			@media (max-width: 767px) {
				padding: 10px;
			}
			.flag-dropdown {
				margin-right: 20px;
				cursor: pointer;
				display: inline-block;
	
				.dropdown-toggle {

					&::after {
						display: none;
					}
				}
	
				.fas.fa-angle-down {
					width: 20px;
					text-align: center;
					vertical-align: middle;
					font-size: 20px;
					margin-left: 5px;
					line-height: 0;
					color: #fc6c6e;
				}
			}
			.phone {
				display: inline-block;
				@media (max-width: 767px) {
					float: right;
				}
			}
		}
	}

	/* Carousel */
	.carousel.header-carousel {
		margin-bottom: 4rem;

		.carousel-item {
			height: 30rem;
			>img {
				min-width: 100%;
			}
		}
	}
	/* Navbar */
	.navbar.mega-menu {
		padding: 10px 5px;

		@media #{$ipad-landscape-view} {
			padding-top:0px;
			padding-bottom: 0px;
		}

		.menu-action.collapsed {
			@media (max-width: 767px) {
				padding: 0.25rem 0.63rem;
			}
		}

		.dropdown-menu {
			border: none;
			background-color: $color-white!important;
			div.col-md-8 {
				background: #f1f1f1;
				padding: 30px;
			}
			@media (min-width: 768px) {
				width: 100%;
				left: 0;
				right: 0;
				top: 59px;
				background-color: $color-white;
				color: #000;
				padding: 0;
			}

			.nav {
				@media (min-width: 991px) {
					padding: 30px 80px;
				}

				.nav-link {
					font-size: $font-md;
					line-height: 40px;
					color: $color-black;
					padding: 0;
				}
			}

			figure {
				margin: 0;
			}
		}
		.navbar-nav {
			> .nav-item {
				@media (max-width: 991px) {
					padding: 10px 8px;
				}
				@media (max-width: 767px) {
					padding: 0px 15px;

					&:first-child {
						border-bottom: 1px solid #ccc;
						padding-bottom: 10px;
					}
				}
				@media (min-width: 992px) {
					padding: 8px 22px 8px 8px;
					margin: 0 4px;
				}
	
				.dropdown-toggle:after {
					display: none;
				}
	
				> .nav-link {
					font-size: 16px;
					color: $color-black;
					font-weight: bold;
					border-bottom: 2px solid transparent;
					transition: all .3s;
					padding: 10px 0;

					@media (max-width: 992px) {
						font-size: 14px;
					}
	
					&:hover {
						color: $color-red;
						border-bottom: 2px solid $color-red;
					}
				}
			}

			.input-group {
				margin-top: 10px;
			}
		}
		
		.dropdown {
			@media #{$ipad-landscape-view} {
				position:static;
			}
			&:hover .dropdown-menu,
			.dropdown-menu:hover {
				@media (min-width: 768px) {
					display:block!important;
				}
			}
		}

		@media (max-width: 767px) {
			.navbar-collapse {
				position: absolute;
				top: 46px;
				right: 1%;
				padding: 0;
				width: 100%;
				transition: all 0.3s ease-in;
				z-index: 999;
				background: #f2f1f1;
			}
			.navbar-collapse.collapsing {
				height: auto;
				transition: all 0.2s ease;
				right: 100%;
			}
			.navbar-collapse.show {
				right: 0;
			}
		}
	}
	/* Search */
	.search-content {
        padding: 10px 0 20px;
        border-bottom: 1px solid #ddd;  

        .search-bar {
            display: inline-block;
            position: relative;
            margin-right: 10px;

            input {
				font-size: 14px;
                width: 400px;
                border: 0;
                border-bottom: 1px solid #333;
                border-radius: 0;
                padding-right: 30px;
    
                &:focus {
                    box-shadow: none;
                }
            }

            .fas {
                position: absolute;
                right: 6px;
                top: 10px;
                cursor: pointer;
            }
        }
        a {
            margin-right: 15px;
            color: $color-black;

            &:hover {
                color: $color-red;
            }
        }
    }
	/* Form section */
	.form-container {
		.form-header {
			margin-bottom: 65px;
		}
		.form-section {
			border: 1px solid #ccc;
			margin-bottom: 30px;

			@media (max-width: 767px) {
				text-align: center;
			}
	
			.form-main {
				padding: 0 50px;
			}
	
			.content {
				background: $color-white;
				position: relative;
				top: -65px;
	
				h1 {
					font-size: 102px;
					color: #ddd;
					font-weight: bold;
				}
				.description {
					position: relative;
					top: -48px;
					background: $color-white;

					@media (min-width: 768px) {
						max-width: 200px;
					}
				}
			}

			.form-group {
				padding: 0 20px;

				.form-control {
					border: 0;
					border-bottom: 1px solid #ccc;

					&:focus {
						box-shadow: none;
					}
				}
			}

			.btn {
				position: relative;
				bottom: -18px;
				border-radius: 0;
				min-width: 150px;
			}
		}
	}
	/* Tools section */
	section {
		padding: 20px 0;
		@media (min-width: 769px) {
			padding: 50px 0;
		}
	}
	.endtoend-section {
		background: #f6f6f6;
	}

	.carousel-control-next, .carousel-control-prev {
		width: 35px;
		i {
			padding: 10px 8px;
			background: #ddd;
			font-size: 30px;
			color: #333;
		}
	}
	/* Inspiring decor secion */
	.carousel#inspiringCarousel {
		.carousel-item img {
			min-width: 100%;
			width: 100%;
		}
		.about-carousel {
			position: absolute;
			bottom: 90px;
			background: #fff;
			width: 94%;
			margin: 0 35px;
			padding: 10px;
			text-align: center;
			box-shadow: 0px -2px 2px rgba(0,0,0,.2);
			h5 {
				display: inline-block;
				font-size: 26px;
				color: #313131;
				font-family: "Abhaya Libre";
				font-weight: bold;
			}
			a {
				position: absolute;
				right: 20px;
				font-size: 16px;
				color: #d4351d;
				font-weight: bold;
			}
		}
	}
	.interior-carousel {
        @media (min-width: 768px) {
            padding: 0;
        }
        .carousel {
            .carousel-item {
                > .row {
                    @media (max-width: 767px) {
                        position: relative;
                        text-align: center;
                    }
                }
                .left-content {
                    padding: 40px 40px 40px 3%;
                    background: #dddddd;
                    
                    @media (max-width: 767px) {
                        padding: 20px 30px;
                        position: absolute;
                        top: 0;
                        z-index: 100;
                        background: transparent;
                    }

                    label {
                        background: #fff;
                        padding: 3px 8px;
                        margin-bottom: 30px;
                    }
                    button {
                        color: #fff;
                        background: #d6330d;
                        margin: 40px 0 30px;

                        @media (max-width: 767px) {
                            margin: 25px 0 10px;
                        }
                    }
                    > a {
                        display: block;
                        color: #d6330d;

                        @media (max-width: 767px) {
                            color: $color-white;
                        }
                    }
                    ul {
                        display: inline-block;
                        position: absolute;
                        bottom: 25px;
                        right: 30px;
                        li:last-child {
                            margin-top: 15px;
                            img {
                                padding-right: 10px;
                            }
                        }
                    }
                }
                .right-content {
                    padding: 0;
                    img {
                        width: 100%;
                        height: 100%;

                        @media (max-width: 767px) {
                            max-height: 400px;
                        }
                    }
                }
            }
            .carousel-indicators {
                @media (min-width: 768px) {
                    margin-right: 0;
                    margin-left: 3%;
                    right: auto;
                }
                .active {
                    background: #f9c64d;
                }
            }
        }
    }
	/* Footer */
	.top-footer {
		background: #434343;
		padding: 40px 0;
		font-size: $font-md;
		a {
			font-size: $font-md;
			line-height: 24px;
		}
	}
	.bottom-footer {
		background: #333;
		font-size: $font-sm;
		ul,
		p {
			margin-top: 1rem;
		}
		li {
			line-height: 20px;
			padding-right: 10px;
			border-right: 1px solid #9f9f9f;
			&:last-child {
				padding-right: 0;
				border-right: 0;
			}
		}
		a {
			font-size: $font-sm;
		}
	}
	.social-icons {
		margin-top: 2rem;
		li {
			padding: 0 10px;
		}
	}
	@media (min-width: 767px) {
		.border-left-md {
			border-left: 1px solid #9f9f9f;
			padding-left: 40px;
		}
	}
}

/* Hover effect */
.hovereffect {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
	cursor: default;
	
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 20px;
		background-color: rgba(160, 66, 66, 0.7);
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		color: $color-white;
	}

	img {
		display: block;
		position: relative;
		-webkit-transition: all .4s linear;
		transition: all .4s linear;
		width: 100%;
	}

	&:hover {
		img {
			-ms-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
		}

		.overlay {
			opacity: 1;
			filter: alpha(opacity=100);
		}

		.image-highlighter {
			display: none;
		}
	}
}