body {
  font-family: 'Open Sans', sans-serif;
  /* Carousel */
  /* Navbar */
  /* Footer */
}

body a:hover {
  text-decoration: none;
}

body .fa-phone {
  transform: rotate(100deg);
}

body h2 {
  font-size: 35px;
  color: #444;
  font-family: 'Abhaya Libre', serif;
  font-weight: bold;
}

body h2 span {
  position: relative;
  display: inline-block;
}

body h2 span:after, body h2 span:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  background: #fc6c6e;
  left: -50px;
  top: 20px;
}

body h2 span:after {
  left: auto;
  right: -50px;
}

body header {
  background: #f2f1f1;
}

body header .navbar .nav-item .nav-link {
  font-size: 14px;
  color: #444;
  font-weight: normal;
  padding: 0 10px;
}

body .carousel {
  margin-bottom: 4rem;
}

body .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

@media (min-width: 40em) {
  body .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

body .carousel-item {
  height: 32rem;
  background-color: #777;
}

body .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

@media (min-width: 992px) {
  body .navbar.mega-menu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

body .navbar.mega-menu .dropdown-menu {
  border: none;
  background-color: #fff !important;
}

body .navbar.mega-menu .dropdown-menu div.col-md-8 {
  background: #f1f1f1;
  padding: 30px;
}

@media (min-width: 992px) {
  body .navbar.mega-menu .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    top: 59px;
    background-color: #fff;
    color: #000;
    padding: 0;
  }
}

body .navbar.mega-menu .dropdown-menu .nav {
  padding: 30px 80px;
}

body .navbar.mega-menu .dropdown-menu .nav .nav-link {
  font-size: 14px;
  line-height: 40px;
  color: #444;
  padding: 0;
}

body .navbar.mega-menu .dropdown-menu figure {
  margin: 0;
}

@media (min-width: 992px) {
  body .navbar.mega-menu .navbar-nav > .nav-item {
    padding: 8px 25px 8px 8px;
    margin: 0 4px;
  }
}

body .navbar.mega-menu .navbar-nav > .nav-item .dropdown-toggle:after {
  display: none;
}

body .navbar.mega-menu .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  color: #444;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  padding: 10px 0;
}

body .navbar.mega-menu .navbar-nav > .nav-item > .nav-link:hover {
  color: #d6330d;
  border-bottom: 2px solid #d6330d;
}

@media (min-width: 992px) {
  body .navbar.mega-menu .dropdown {
    position: static;
  }
}

@media (min-width: 992px) {
  body .navbar.mega-menu .dropdown:hover .dropdown-menu,
  body .navbar.mega-menu .dropdown .dropdown-menu:hover {
    display: block !important;
  }
}

body .top-footer {
  background: #434343;
  padding: 40px 0;
  font-size: 14px;
}

body .top-footer a {
  font-size: 14px;
  line-height: 24px;
}

body .bottom-footer {
  background: #333;
  font-size: 12px;
}

body .bottom-footer ul,
body .bottom-footer p {
  margin-top: 1rem;
}

body .bottom-footer li {
  line-height: 20px;
  padding-right: 10px;
  border-right: 1px solid #9f9f9f;
}

body .bottom-footer li:last-child {
  padding-right: 0;
  border-right: 0;
}

body .bottom-footer a {
  font-size: 12px;
}

body .social-icons {
  margin-top: 2rem;
}

body .social-icons li {
  padding: 0 10px;
}

@media (min-width: 768px) {
  body .border-left-md {
    border-left: 1px solid #9f9f9f;
    padding-left: 40px;
  }
}
/*# sourceMappingURL=style.css.map */