@import "_variables.scss";

body {
	font-family: 'Open Sans', sans-serif;

	a:hover {
		text-decoration: none;
	}

	.fa-phone {
		transform: rotate(100deg);
	}

	.container {
		@media (min-width: 1300px) {
			max-width: 1300px;
		}
		@media (max-width: 992px) {
			max-width: 100%;
		}
	}

	h2 {
		font-size: 35px;
		color: $color-black;
		font-family: 'Abhaya Libre', serif;
		font-weight: bold;

		@media (max-width: 767px) {
			font-size: 24px;
		}

		span {
			position: relative;
			display: inline-block;

			&:after,
			&:before {
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background: #fc6c6e;
				left: -50px;
				top: 20px;
			}

			&:after {
				left: auto;
				right: -50px;
			}
		}
	}

	header {
		background: #f2f1f1;

		.navbar .nav-item .nav-link {
			font-size: $font-md;
			color: $color-black;
			font-weight: normal;
			padding: 0 10px;

			@media (max-width: 767px) {
				padding: 10px;
			}
		}

		.header-menu {
			@media (max-width: 767px) {
				.navbar-collapse {
					position: absolute;
					top: 62px;
					left: 1%;
					padding-left: 15px;
					padding-right: 15px;
					padding-bottom: 15px;
					width: 100%;
					transition: all 0.3s ease-in;
					z-index: 999;
					background: #fff;
				}
				.navbar-collapse.collapsing {
					height: auto;
					transition: all 0.2s ease;
					left: 100%;
				}
				.navbar-collapse.show {
					left: 0;
				}
			}
		}

		.flag-phone-container {
			@media (max-width: 767px) {
				padding: 10px;
			}
			.flag-dropdown {
				margin-right: 20px;
				cursor: pointer;
				display: inline-block;
	
				img {
					width: 20px;
				}
	
				.dropdown-toggle {

					&::after {
						display: none;
					}
				}
	
				.fas.fa-angle-down {
					width: 20px;
					text-align: center;
					vertical-align: middle;
					font-size: 20px;
					margin-left: 5px;
					line-height: 0;
					color: #fc6c6e;
				}
			}
			.phone {
				display: inline-block;
				@media (max-width: 767px) {
					float: right;
				}
			}
		}
	}

	/* Carousel */
	.carousel.header-carousel {
		margin-bottom: 4rem;

		.carousel-item {
			height: 32rem;
			background-color: #777;
			>img {
				position: absolute;
				top: 0;
				left: 0;
				min-width: 100%;
			}
		}
	}
	/* Navbar */
	.navbar.mega-menu {
		padding: 10px 5px;

		@media #{$ipad-landscape-view} {
			padding-top:0px;
			padding-bottom: 0px;
		}
		.dropdown-menu {
			border: none;
			background-color: $color-white!important;
			div.col-md-8 {
				background: #f1f1f1;
				padding: 30px;
			}
			@media #{$ipad-landscape-view} {
				width: 100%;
				left: 0;
				right: 0;
				top: 59px;
				background-color: $color-white;
				color: #000;
				padding: 0;
			}

			.nav {
				@media #{$ipad-landscape-view} {
					padding: 30px 80px;
				}

				.nav-link {
					font-size: $font-md;
					line-height: 40px;
					color: $color-black;
					padding: 0;
				}
			}

			figure {
				margin: 0;
			}
		}
		.navbar-nav {
			> .nav-item {
				@media (max-width: 991px) {
					padding: 10px 8px;
				}
				@media (max-width: 767px) {
					padding: 0px 8px;
				}
				@media (min-width: 992px) {
					padding: 8px 22px 8px 8px;
					margin: 0 4px;
				}
	
				.dropdown-toggle:after {
					display: none;
				}
	
				> .nav-link {
					font-size: 16px;
					color: $color-black;
					font-weight: bold;
					border-bottom: 2px solid transparent;
					transition: all .3s;
					padding: 10px 0;
	
					&:hover {
						color: $color-red;
						border-bottom: 2px solid $color-red;
					}
				}
			}
		}
		
		.dropdown {
			@media #{$ipad-landscape-view} {
				position:static;
			}
			&:hover .dropdown-menu,
			.dropdown-menu:hover {
				@media #{$ipad-landscape-view} {
					display:block!important;
				}
			}
		}

		@media (max-width: 767px) {
			.navbar-collapse {
				position: absolute;
				top: 46px;
				right: 1%;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				width: 100%;
				transition: all 0.3s ease-in;
				z-index: 999;
				background: #f2f1f1;
			}
			.navbar-collapse.collapsing {
				height: auto;
				transition: all 0.2s ease;
				right: 100%;
			}
			.navbar-collapse.show {
				right: 0;
			}
		}
	}
	/* Form section */
	.form-container {
		.form-header {
			margin-bottom: 65px;
		}
		.form-section {
			border: 1px solid #ccc;

			@media (max-width: 767px) {
				text-align: center;
			}
	
			.form-main {
				padding: 0 50px;
			}
	
			.content {
				background: $color-white;
				position: relative;
				top: -65px;
	
				h1 {
					font-size: 102px;
					color: #ddd;
					font-weight: bold;
				}
				h3 {
					font-size: 22px;
					color: $color-black;
				}
				.description {
					position: relative;
					top: -48px;
					background: $color-white;
				}
			}
		}
	}
	/* Inspiring decor secion */
	.carousel {
		&#inspiringCarousel {
		 .carousel-item {
		  img {
		   min-width: 100%;
		   width: 100%;
		  }
		 }
	  
		 .carousel-control-next, .carousel-control-prev {
		  width: 40px;
		 }
	  
		 .about-carousel {
		  position: absolute;
		  bottom: 90px;
		  background: #fff;
		  width: 94%;
		  margin: 0 35px;
		  padding: 10px;
		  text-align: center;
	  
		  h5 {
		   display: inline-block;
		  }
	  
		  a {
		   position: absolute;
		   right: 20px;
		   font-size: 14px;
		   color: #fc6c6e;
		  }
		 }
		}
	   }
	/* Footer */
	.top-footer {
		background: #434343;
		padding: 40px 0;
		font-size: $font-md;
		a {
			font-size: $font-md;
			line-height: 24px;
		}
	}
	.bottom-footer {
		background: #333;
		font-size: $font-sm;
		ul,
		p {
			margin-top: 1rem;
		}
		li {
			line-height: 20px;
			padding-right: 10px;
			border-right: 1px solid #9f9f9f;
			&:last-child {
				padding-right: 0;
				border-right: 0;
			}
		}
		a {
			font-size: $font-sm;
		}
	}
	.social-icons {
		margin-top: 2rem;
		li {
			padding: 0 10px;
		}
	}
	@media (min-width: 767px) {
		.border-left-md {
			border-left: 1px solid #9f9f9f;
			padding-left: 40px;
		}
	}
}
